[flake8]
exclude = 
    .venv/*, 
    .tox/*, 
    .git/*, 
    .hg/*, 
    .mypy_cache/*, 
    *.egg-info/*, 
    __pycache__/*, 
    */migrations/*, 
    */__init__.py

ignore = 
    E501,
    F401,
    F403,
    F405,
    W503